body {
  padding: 0;
  margin: 0;
  background-color: hsl(221, 100%, 96%);
}

.main-container {
  background-color: white;
  width: 45%;
  margin: 10% auto;
  border-radius: 5%;
  /*padding: 20px;*/
  height: 55vh;
  display: flex;
  flex-direction: row;
  /*border: solid 1px darkgray;*/
}

.left-side {
  width: 50%;
  height: 55vh;
  /* background-color: hsl(241, 81%, 54%);*/
  border-radius: 5%;
  background-image: linear-gradient(
    45deg,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

/*.score-explanation-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.your-result-tag-container {
  text-align: center;
}

.your-result-tag {
  color: hsl(241, 100%, 89%);
  margin-bottom: 22px;
  margin-top: 40px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.score-circle-container {
  width: 100%;
  height: 37%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  /*border: solid 1px darkgray;*/
}

.score-circle {
  width: 195px;
  height: 195px;
  /*border: 1px solid darkgray;*/
  border-radius: 50%;
  margin-bottom: 12px;
  margin-top: 20px;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-value-first-line {
  margin-top: 60px;
  margin-bottom: 0px;
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.score-value-second-line {
  color: hsl(241, 100%, 89%);
}

.score-explanation-text-container {
  /* border: solid 1px darkgrey;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.score-explanation-text-first-line {
  margin: 5px;
  font-size: 17px;
  color: hsl(241, 100%, 89%);
  font-family: Arial, Helvetica, sans-serif;
}

.score-explanation-text {
  margin: 0px;
  font-size: 17px;
  color: hsl(241, 100%, 89%);
  font-family: Arial, Helvetica, sans-serif;
}

.score-text-container {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score-text {
  font-size: 32px;
  margin-bottom: 17px;
  margin-top: 45px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.right-side {
  width: 50%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}

.summary-tag-container {
  margin-top: 55px;
  margin-bottom: 0px;
  text-align: left;
  width: 85%;
  border-radius: 8px;
  background-color: white;
  padding: 0;
}

.summary-tag {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  margin-left: 0px;
}

/*.summary-tag {
  margin-left: 12px;
  font-size: 22px;
}

.summary-tag {
  margin-left: 12px;
  font-size: 22px;
}*/

.reaction-result-container {
  margin-top: 6px;
  margin-bottom: 3px;
  text-align: left;
  width: 85%;
  border-radius: 8px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reaction-result-container-right-side {
  margin-top: 24px;
  margin-bottom: 17px;
  margin-right: 20px;
  font-size: 19px;
}

.reaction-result-container-left-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 8;
}

.reaction-result-tag {
  margin-left: 8px;
  font-size: 20px;
}

.reaction-symbol {
  margin-left: 17px;
}

.memory-result-container {
  text-align: left;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 85%;
  border-radius: 8px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.memory-result-container-right-side {
  margin-top: 24px;
  margin-bottom: 17px;
  margin-right: 20px;
  font-size: 19px;
}

.memory-result-container-left-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 8;
}

.memory-result-tag {
  margin-left: 8px;
  font-size: 20px;
}

.memory-symbol {
  margin-left: 17px;
}

.verbal-result-container {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: left;
  width: 85%;
  border-radius: 8px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.verbal-result-container-right-side {
  margin-top: 24px;
  margin-bottom: 17px;
  margin-right: 20px;
  font-size: 19px;
}

.verbal-result-container-left-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 8;
}

.verbal-result-tag {
  margin-left: 8px;
  font-size: 20px;
}

.verbal-symbol {
  margin-left: 17px;
}

.visual-result-container {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: left;
  width: 85%;
  border-radius: 8px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.visual-result-container-right-side {
  margin-top: 24px;
  margin-bottom: 17px;
  margin-right: 20px;
  font-size: 19px;
}

.visual-result-container-left-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 8;
}

.visual-symbol {
  margin-left: 17px;
}

.visual-result-tag {
  margin-left: 8px;
  font-size: 20px;
}

.continue-button-container {
  background-color: white;
  width: 85%;
  margin-bottom: 22px;
  margin-top: 25px;
  border-radius: 15px;
}

.continue-button {
  width: 100%;
  height: 55px;
  border-radius: 22px;
  border: none;
  color: white;
  font-size: 22px;
  background-color: hsl(224, 30%, 27%);
}
